<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>MEMBER</title>
    <script type="text/javascript">
    </script>
    <style type="text/css">
        .top {
            background-color: #D18063;
            height: 150px;
            display: flex;
            align-items: center;
        }
        
        .title {
            color: white;
            font-size: 30px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .signout {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body style="margin:0px;font-family:Microsoft JhengHei;">
    <div class="top"><span class="title">歡迎光臨，這是會員頁</span></div>
    <div style="text-align: center;font-size: 25px;">{{name}}，歡迎登入系統</div>
    <br/>
    <div class="signout">
        <a href="/signout" style="font-size: 25px;">登出系統</a>
    </div>

</body>

</html>