.frame {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #eecfbb;
}

.title {
    font-weight: bold;
    margin-left: 20px;
    width: 50%;
}

.items {
    display: flex;
    width: 50%;
    justify-content: flex-end
}

@media (max-width:600px) {
    .items {
        display: none;
    }
}

.item {
    flex: none;
    margin-right: 20px;
    font-size: 15px;
}

.hamburger {
    display: none;
}

@media (max-width:600px) {
    .hamburger {
        display: flex;
        width: 50%;
        padding: 20px;
        justify-content: flex-end
    }
}

.welcome {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: white
}

.text {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #faf0e4;
}

@media (max-width:1200px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background-color: #faf0e4;
    }
}

@media (max-width:600px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background-color: #faf0e4;
    }
}

.photoblock {
    width: 280px;
    background-color: #efeff1;
    margin: 10px;
}

@media (max-width:1200px) {
    .photoblock {
        width: 45%;
        background-color: #efeff1;
        margin: 10px;
    }
}

@media (max-width:600px) {
    .photoblock {
        width: 90%;
        background-color: #efeff1;
        margin: 10px;
    }
}

.photointro {
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #efeff1;
}
